<div class="row">
    <div class="col-md-7 col-7">
        {{id}}. {{cupcake_name}} 
    </div>
    <div class="col-md-3 col-3">
        <button class="change-devour btn-outline-danger" data-id="{{id}}" data-newdevour="{{devoured}}">
            {{!-- Based on the database coulmn name it checks the value --}}
            {{#if devoured}}Gulp It!{{else}}Reorder it!{{/if}}
        </button>
    </div>
</div>